.array-container {
  display: flex;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 0px 50px;
  align-items: flex-end;
  justify-content: center;
}

.array-bars {
  border-radius: 2px 2px 0px 0px;
  width: 8px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0px 2px;
  background-color: rgb(255, 0, 234);
}

.button-container {
  display: flex;
  width: 100%;
  top: 90%;
  position: fixed;
  align-items: center;
  justify-content: center;
}

button.visualizer:disabled {
  cursor: not-allowed;
}

button.visualizer {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #edf0f1;
  text-decoration: none;
  padding: 9px 20px;
  background-color: #382828;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all, 0.3s ease 0s;
  margin: 5px 10px;
}
button.visualizer:hover {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.8);
}

.App {
  font-family: "RocknRoll One", sans-serif;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
