@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
.clock {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #f7f7f7;
    font-size: 90px;
    font-family: Orbitron;
    letter-spacing: 7px;
  }