  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

.logo a{
  cursor: pointer;
  margin-right: 900px;
  font-family: 'RocknRoll One', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: aliceblue;
}
.logo a:hover{
  color: rgb(50, 39, 146);
}

li, a{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

  header{
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px;
  }
  header::after{
    content: '';
    align-items: center;
    padding: 15px 10px;
}

  .nav-links{
      list-style: none;
  }

  .nav-links li {
      display: inline-block;
      padding: 0px 20px;
  }

  /* .nav-links li a{
      transition: all 0.3s ease 0s;
  } */

  /* .nav-links li a:hover{
    color: #0088a9;
} */

button{
    padding: 9px 25px;
    background-color: #181616;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all, 0.3s ease 0s;
}

button:hover{
  color: #000000;
  background-color: rgba(155, 0, 0, 0.8);
}

body{
    background: url('./jeremy-bishop-G9i_plbfDgk-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
}